{% extends 'base.html.twig' %}

	{% block title %}NutriDiet: Modification profil
	{% endblock %}

	{% block body %}
		<div class="container">
			<h1 class="mt-4">Modification de votre profil</h1>
            {% for message in app.flashes('warning') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}

			{{ form(form)}}
			</div>

		{% endblock %}
