<ion-content>
  <ion-toolbar>
    <ion-title> Catégories </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <div id="container-fluid">
    <a
      *ngFor="let name of categoriesName"
      href="http://localhost:8100/nav/home/{{name}}"
    >
      <div class="card">
        <h4>{{name}}</h4>
        <img
          src="assets/images/home/img-{{name}}.jpg"
          alt="Avatar"
        />
      </div>
    </a>
  </div>
</ion-content>
